<div class="row">
    <div class="text-center">
        <h3>Products</h3>
    </div>
</div>
<div class="row">
    <div id="loading" ng-if="vm.processing">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <div id="product-master" class="col-lg-12 col-md-4">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Stock</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="product in vm.products">
                <td>{{product.name}}</td>
                <td>{{product.unitPrice}}</td>
                <td>{{product.stock}}</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-4">
        <uib-pagination
                total-items="vm.pager.totalItems"
                ng-model="vm.pager.currentPage"
                max-size="vm.pager.pagesInPager"
                boundary-links="true"
                boundary-link-numbers="true"
                rotate="true"
                ng-change="pageChanged()"
                force-ellipses="true"
                items-per-page="vm.pager.itemsPerPage"></uib-pagination>

        </uib-pagination>
    </div>
</div>
<div class="row">
    <p class="text-center text-info">
        Page {{vm.pager.currentPage}} of {{vm.pager.totalPages}}
    </p>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-2">
        <div id="alphabets" class="btn-toolbar">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default">A</button>
                <button class="btn btn-default">B</button>
                <button class="btn btn-default">C</button>
                <button class="btn btn-default">D</button>
                <button class="btn btn-default">E</button>
                <button class="btn btn-default">F</button>
                <button class="btn btn-default">G</button>
                <button class="btn btn-default">H</button>
                <button class="btn btn-default">I</button>
                <button class="btn btn-default">J</button>
                <button class="btn btn-default">K</button>
                <button class="btn btn-default">L</button>
                <button class="btn btn-default">M</button>
                <button class="btn btn-default">N</button>
                <button class="btn btn-default">O</button>
                <button class="btn btn-default">P</button>
                <button class="btn btn-default">Q</button>
                <button class="btn btn-default">R</button>
                <button class="btn btn-default">S</button>
                <button class="btn btn-default">T</button>
                <button class="btn btn-default">U</button>
                <button class="btn btn-default">V</button>
                <button class="btn btn-default">W</button>
                <button class="btn btn-default">X</button>
                <button class="btn btn-default">Y</button>
                <button class="btn btn-default">Z</button>
            </div>
        </div>
    </div>
</div>


